<div class="container-fluid" id="root" style="min-width: 100%; max-width: 100%;">
    <div class="row" >
        <div class='col' style = "background-color:grey;">
            <h1>Purchases</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-2" style="padding-left: 0%;padding-right:30px  ">
            <nav class="bg-light sidebar-sticky" >
                <div class="sidebar-sticky">   
                    <ul class="nav" >
                        <li class="nav-item">
                            <a class="nav-link active" href="savings">
                                Saving <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="credits">
                            Credits <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="loans">
                            Loans
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="purchases">
                            Purchase History
                            </a>
                        </li>
                    </ul>  
                </div>
            </nav>
        </div>
      
          <div class="col-10">
            <div class="row">
                <h3>Purchase History</h3>
            </div>
          </div>
        </div>
    </div>
    
      
