




<div class="container-fluid" id="root" style="min-width: 100%; max-width: 100%;">
    <div class="row" >
        <div class='col' style = "background-color:grey;">
            <h1>Educational</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-2" style="padding-left: 0%;padding-right:50px  ">
            <nav class="bg-light sidebar-sticky" >
                <div class="sidebar-sticky">   
                    <ul class="nav" >
                        <li class="nav-item">
                            <a class="nav-link active" href="savings">
                            Savings <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="credits">
                            Credits Scores <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="loans">
                            Loans
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="purchases">
                            Purchase History
                            </a>
                        </li>
                    </ul>  
                </div>
            </nav>
        </div>
      
      <div class="col-10">
        <div class="row">
            <div class='col-2'>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ng-container *ngIf="myNum == 0; else elseif1">Item</ng-container>
                            <ng-template #elseif1>
                        <ng-container *ngIf="myNum == 1; else elseif2">A House</ng-container></ng-template>
                            <ng-template #elseif2>
                        <ng-container *ngIf="myNum == 2; else elseif3">A Car</ng-container>
                            <ng-template #elseif3>
                        <ng-container *ngIf="myNum == 3; else elseif4">Fancy Dinner</ng-container>
                            <ng-template #elseif4>
                        <ng-container *ngIf="myNum == 4; else else1">Clothing</ng-container>
                            </ng-template>
                        <ng-template #else1>Other</ng-template>
                            </ng-template>
                            </ng-template>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-button" (click)="setCounter(1)" >A House</button>
                      <button class="dropdown-button" (click)="setCounter(2)" >A Car</button>
                      <button class="dropdown-button" (click)="setCounter(3)" >Fancy Dinner</button>
                      <button class="dropdown-button" (click)="setCounter(4)" >Clothing</button>
                      <button class="dropdown-button" (click)="setCounter(5)" >Other</button>
                    </div>
                  </div>
            </div>
            <div class='col-2'>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ng-container *ngIf="myNum1 == 0; else elseIf1">Price Range</ng-container>
                            <ng-template #elseIf1>
                        <ng-container *ngIf="myNum1 == 1; else elseIf2">$0-100</ng-container></ng-template>
                            <ng-template #elseIf2>
                        <ng-container *ngIf="myNum1 == 2; else elseIf3">$100-500</ng-container></ng-template>
                            <ng-template #elseIf3>
                        <ng-container *ngIf="myNum1 == 3; else elseIf4">$500-1000</ng-container></ng-template>
                            <ng-template #elseIf4>
                        <ng-container *ngIf="myNum1 == 4; else elseIf5">$1000-5000</ng-container></ng-template>
                            <ng-template #elseIf5>
                        <ng-container *ngIf="myNum1 == 5; else else0">$5000-10000</ng-container></ng-template>
                        <ng-template #else0>10000+</ng-template>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <button class="dropdown-button" (click)="setCounter1(1)" >$0-100</button>
                      <button class="dropdown-button" (click)="setCounter1(2)" >$100-500</button>
                      <button class="dropdown-button" (click)="setCounter1(3)" >$500-1000</button>
                      <button class="dropdown-button" (click)="setCounter1(4)" >$1000-5000</button>
                      <button class="dropdown-button" (click)="setCounter1(5)" >$5000-10000</button>
                      <button class="dropdown-button" (click)="setCounter1(6)" >$10000+</button>
                    </div>
                </div>
            </div>
            <div class='col-8'>

            </div>
        </div>
      </div>
    </div>
</div>

  
